 <widget id="A6062586042329"  version="0.0.1">
    <name>极速培训</name>
    <description>
        极速培训系统是新启科技2017年全新上线的新一代培训平台及软件，新启通过多年行业积累，服务数千家企业的实践摸索，从新设计了培训管理体系，功能更强大，细节更完善，同时具有 非常强大的复杂能力，是搭建平台类大型应用的不二之选。
    </description>
    <author email="admin@newstartsoft.com" href="http://www.jisupeixun.com">        极速培训
    </author>
      <content src="login.html" />

    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
  <!--配置状态栏和页面是否重合（沉浸式效果 ）-->  <preference name="statusBarAppearance" value="false"/>  <preference name="dragAndDrop" value="false" />
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <!--引入百度播放器SDK-->
  <feature name="bPlayer">
        <param name="AccessKey" value="7200a73f5c7042b9a1cddd897de56bb3"/>
  </feature>
</widget>